html{
    background: #e3e3e3;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;

}

p {
    line-height: 1.4em;

}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

h2 {
    font-size: 2em;
}

th {
    font-size: 2em;

}

td {
    font-size: 1em;

}

a[href="index.html"] {
    color:blue;
    font-size: 2em;
}

a[href="contact.html"] {
    color: blue;
    font-size: 2em;
}

a[href="about.html"] {
    color: blue;
    font-size: 2em;
}